/* body {
    background-color: black;
    color: bisque;
} */
/* .main {
    margin: 5rem;
} */
/* .products {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 4rem;
} */
/* #product_img {
    height: 15rem;
    width: 15rem;
} */